/*cor #E9478E*/
/*cor #E03FF8*/
/*cor #9C3FF8*/
:root{
    --cor-titulo: #E9478E;
    --cor-sub: #E03FF8;
    --cor-link: #9C3FF8;
}
h1{
    font-size: 30px;
    color: var(--cor-titulo);
}
h2{
    font-size: 25px;
    color: var(--cor-sub);
}
a{
    
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-link);
}